.island-map img{
  vertical-align: bottom;
}
.name {
  color: #a06040;
}
.input div {
  font-weight: bold;
}
.login .main > div {
  /* display: table-cell; */
  float: left;
  background-color: #CCFFCC;
}
.commands .selected {
  background-color: #ffffaa;
}
.commands {
  background-color: #CCFFCC;
}
.dirty {
  background-color: #ffffff !important;
}
.sent {
  color: #00f;
}
.notsent {
  color: #f00;
}
body {
  background-color: #eeffff;
}