.island-map img{
  vertical-align: bottom;
}
.name {
  color: #a06040;
}
.input div {
  font-weight: bold;
}
.login, .login .main {
  margin: auto;
  width: 90%;
}
.login .main > div {
   display: table-cell; 
  /*float: left;*/
  background-color: #CCFFCC;
}
.header {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
.commands .selected {
  background-color: #ffffaa;
}
.commands {
  background-color: #CCFFCC;
}
.dirty {
  background-color: #ffffff !important;
}
.sent {
  color: #00f;
}
.notsent {
  color: #f00;
}
body {
  background-color: #eeffff;
}