<div class="login">
    <div class="header" v-if="island">
        <span class="name">{{ island.name }}島</span>開発計画
    </div>
    <div class="main" v-if="island">
        <div class="input">
            <form @submit.prevent="submitCommand">
                <input type="submit" value="計画送信">
                <hr>
                <div>パスワード</div>
                <input type="password" name="password" :value='password'>
                <div>計画番号</div>
                <select name="number" v-model="number">
                    <template v-for="n in settings.commandMax">
                        <option :value="n">{{n}}</option>
                    </template>
                </select>
                <hr>
                <div>開発計画</div>
                <select name="command" v-model="kind">
                    <template v-for="item in commands">
                        <option :value="item.id">{{ commandStr(item) }}</option>
                    </template>
                </select>
                <div>コマンド入力</div>
                <a @click="addCommand">追加</a>
                <a @click="overCommand">上書き</a>
                <a @click="delCommand">削除</a>
                <div>座標</div>
                <select name="x" v-model="x">
                    <template v-for="n in settings.islandSize">
                        <option :value="n-1">{{n-1}}</option>
                    </template>
                </select>
                ,&nbsp;
                <select name="y" v-model="y">
                    <template v-for="n in settings.islandSize">
                        <option :value="n-1">{{n-1}}</option>
                    </template>
                </select>
                <div>数量</div>
                <select name="amount" v-model="arg">
                    <template v-for="n in 100">
                        <option :value="n-1">{{n-1}}</option>
                    </template>
                </select>
                <div>目標の島</div>
                <select name="target" v-model="target">
                    <template v-for="island in islandsNames">
                        <option :value="island.id">{{island.name}}島</option>
                    </template>
                </select>
            </form>
        </div>
        <island-map @setPoint="setPoint" :lands=lands>
        </island-map>
        <div :class="{commands: true, dirty: commandsDirty}">
            <div v-if="commandsDirty" class="notsent">－－－－－未送信－－－－－</div>
            <div v-if="!commandsDirty" class="sent">－－－－ 送信済み －－－－</div>
            <div v-for="(c, i) in island.commands">
                <a @click="selectCmdPos(i+1)" v-bind:class="{selected : i === 0, command: true}">
                    {{i+1}}.
                    <template v-if="c.kind === commands.donothing.id">
                        資金繰り
                    </template>
                    <template v-else-if="isMissile(c.kind)">
                        {{getIslandNameFromId(c.target)}}島<span>({{c.x}}, {{c.y}})</span>へ{{getCommandName(c.kind)}}
                    </template>
                    <template v-else>
                        {{JSON.stringify(c)}}<br>
                        <span>({{c.x}}, {{c.y}})</span>で{{getCommandName(c.kind)}}
                    </template>
                </a>
            </div>
            <div v-if="commandsDirty" class="notsent">－－－－－未送信－－－－－</div>
            <div v-if="!commandsDirty" class="sent">－－－－ 送信済み －－－－</div>
        </div>
    </div>
</div>