<div v-if="islands" class="home">
    <button v-if="islands.settings.debug" @click="debugButton">ターンを進める</button>
    <h1>ターン{{islands.islandTurn}}</h1>
    <div class="nexttime">
        <span>次回の更新時間：{{islandNextTime.toLocaleString()}}</span>
        <span id="remainingtime">{{getRemainingTime()}}</span>
    </div>
    <hr>
    <h1>自分の島へ</h1>
    <form v-on:submit.prevent="goOwner">
        <div>あなたの島の名前は？</div>
        <select v-model="islandid">
            <template v-for="island in islands.islands">
                <option :value="island.id">{{island.name}}島</option>
            </template>
        </select>

        <div>パスワードをどうぞ！！</div>
        <input type="password" v-model="password" :value=pass><br>
        <input type="submit" value="開発しに行く" name="OwnerButton">
    </form>
    <hr>

    <h1>諸島の状況</h1>
    <p>
        島の名前をクリックすると、<b>観光</b>することができます。
    </p>
    <table>
        <tr>
            <th>順位</th>
            <th>島</th>
            <th>人口</th>
            <th>面積</th>
            <th>資金</th>
            <th>食料</th>
            <th>農場規模</th>
            <th>工場規模</th>
            <th>採掘場規模</th>
        </tr>
        <tr if="islands.settings" v-for="island in islands.islands">
            <td class="rank"></td>
            <td><router-link :to="{name: 'island', params: { id: island.id }}">{{island.name}}</router-link></td>
            <td>{{island.pop+islands.settings.unitPop}}</td>
            <td>{{island.area+islands.settings.unitArea}}</td>
            <td>{{island.money+islands.settings.unitMoney}}</td>
            <td>{{island.food+islands.settings.unitFood}}</td>
            <td>{{island.farm}}</td>
            <td>{{island.factory}}</td>
            <td>{{island.mountain}}</td>
        </tr>
    </table>
    <hr>
    <h1>新しい島を探す</h1>
    <form @submit.prevent="newIsland">
        <div>どんな名前をつける予定？</div>
        <input type="text" v-model="newislandname">島
        <div>パスワードは？</div>
        <input type="password" name="password" v-model="newislandpassword">
        <div>念のためパスワードをもう一回</div>
        <input type="password" name="password2" v-model="newislandpassword2">
        <br>
        <input type="submit" value="探しに行く" name="NewIslandButton">
    </form>
    <hr>
    <h1>島の名前とパスワードの変更</h1>
    <p>(注意)名前の変更には{{ islands.settings.costChangeName+islands.settings.unitMoney}}かかります。</p>
    <form>
        <div>どの島ですか？</div>
        <select name="islandid">
            <template v-for="island in islands.islands">
                <option :value="island.id">{{island.name}}島</option>
            </template>
        </select>
        <div>どんな名前に変えますか？(変更する場合のみ)</div>
        <input type="text" name="islandname">島
        <div>パスワードは？(必須)</div>
        <input type="password" name="oldpass">
        <div>新しいパスワードは？(変更する時のみ)</div>
        <input type="password" name="password">
        <div>念のためパスワードをもう一回(変更する時のみ)</div>
        <input type="password" name="password2"><br>

        <input type="submit" value="変更する" name="ChangeInfoButton">
    </form>

    <hr>

    <h1>最近の出来事</h1>
    <div v-for="item in log">
        <div v-html="item.log"></div>
    </div>
    <h1>発見の記録</h1>
    historyPrint();
</div>